<a href="https://colab.research.google.com/github/datask19/Financial_market_analysis/blob/main/data_1_sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Write a Python program that takes a list of stock prices and finds the maximum price without using loops. Use built-in functions to achieve this.

Sample Input:

stock_prices = [120, 135, 150, 145, 155]

In [2]:
stock_prices = [120, 135, 150, 145, 155]
max(stock_prices)

155

Create a program that uses a tuple to store financial information (year, revenue, expense). Unpack these values into separate variables and display them.

Sample Input:

financial_data = (2024, 100000, 75000)

In [5]:
financial_data = (2024, 100000, 75000)
year = financial_data[0]
revenue = financial_data[1]
expense = financial_data[2]
print("year:",year,"revenue:", revenue,"expense:", expense)

year: 2024 revenue: 100000 expense: 75000

Given a dictionary of stock prices, write a program to update the price of a specific stock and display the updated dictionary. Use dictionary methods.

Sample Input:

stock_prices = {"AAPL": 125, "MSFT": 200, "AMZN": 310}
update_stock = "MSFT"
new_price = 210

In [6]:
stock_prices = {"AAPL": 125, "MSFT": 200, "AMZN":310}
update_stock= "MSFT"
price= 210
stock_prices[update_stock]= price
print("Updated list:", stock_prices)

Updated list: {'AAPL': 125, 'MSFT': 210, 'AMZN': 310}

Use a Python program to find the unique sectors in which a company has invested. The sectors are stored in a set. Add a new sector to the set and display the updated set.

Sample Input:

pythonCopy codesectors = {"Technology", "Healthcare", "Finance"}
new_sector = "Energy"

In [7]:
pythonCopy_codesectors = {"Technology", "Healthcare", "Finance"}
new_sector = "Energy"
pythonCopy_codesectors.add(new_sector)
print(pythonCopy_codesectors)

{'Technology', 'Energy', 'Finance', 'Healthcare'}

Write a program that merges two dictionaries representing different parts of an investment portfolio. Use dictionary methods for merging without a loop.

Sample Input:

portfolio1 = {"AAPL": 100, "MSFT": 150}
portfolio2 = {"GOOGL": 200, "AMZN": 250}

In [8]:
portfolio1 = {"AAPL": 100, "MSFT": 150}
portfolio2 = {"GOOGL": 200, "AMZN": 250}
portfolio1.update(portfolio2)
print(portfolio1)

{'AAPL': 100, 'MSFT': 150, 'GOOGL': 200, 'AMZN': 250}

Rename a key in a dictionary without changing its corresponding value.

Sample Input:

budget_allocation = {"Marketing": 5000, "R&D": 10000, "HR": 4000}
old_key = "HR"
new_key = "Human Resources"

In [18]:
budget_allocation = {"Marketing": 5000, "R&D": 10000, "HR": 4000}
old_key = "HR"
new_key = "Human Resources"
value = budget_allocation.pop(old_key)

# Step 2: Add the new key with the retrieved value
budget_allocation[new_key] = value

# Display the updated dictionary
print(budget_allocation)

{'Marketing': 5000, 'R&D': 10000, 'Human Resources': 4000}

Retrieve specific information from a nested dictionary representing a company's departmental budgets.

Sample Input:

company_budget = {"Finance": {"Salaries": 50000, "Equipment": 10000}, "Marketing": {"Advertising": 15000, "Supplies": 5000}}
department = "Marketing"
item = "Advertising"

In [3]:
company_budget = {"Finance": {"Salaries": 50000, "Equipment": 10000}, "Marketing": {"Advertising": 15000, "Supplies": 5000}}
department = "Marketing"
item = "Advertising"

In [6]:
company_budget[department][item]
print(f"Budget for {item} in {department}: 15000")

Budget for Advertising in Marketing: 15000

Write a program to access data from a nested dictionary representing a company's employee information. Extract the department and salary of a specific employee.

Sample Input:

company_info = {
    "emp1": {"name": "John", "department": "Finance", "salary": 70000},
    "emp2": {"name": "Emma", "department": "Marketing", "salary": 65000},
    "emp3": {"name": "Alex", "department": "IT", "salary": 72000}
}
employee_id = "emp2"
Expected Output:

"Emma works in Marketing with a salary of 65000"

In [13]:
company_info = {
    "emp1": {"name": "John", "department": "Finance", "salary": 70000},
    "emp2": {"name": "Emma", "department": "Marketing", "salary": 65000},
    "emp3": {"name": "Alex", "department": "IT", "salary": 72000}
}

In [15]:
employee_id = "emp2"
employee_info  = company_info[employee_id]
employee_name = employee_info["name"]
employee_salary= employee_info["salary"]
employee_depart= employee_info["department"]

print(f"{employee_name}  works in {employee_depart} with a salary of  {employee_salary}")

Emma  works in Marketing with a salary of  65000

 Adding New Data to Nested Dictionary
Description: Update a nested dictionary representing a company's project information by adding a new project with its details.

Sample Input:

company_projects = {
    "Project1": {"Manager": "John", "Budget": 50000},
    "Project2": {"Manager": "Emma", "Budget": 60000}
}
new_project = "Project3"
new_details = {"Manager": "Alex", "Budget": 55000}

In [16]:
company_projects = {
    "Project1": {"Manager": "John", "Budget": 50000},
    "Project2": {"Manager": "Emma", "Budget": 60000}
}
new_project = "Project3"
new_details = {"Manager": "Alex", "Budget": 55000}

In [17]:
company_projects[new_project] = new_details
print(company_projects)

{'Project1': {'Manager': 'John', 'Budget': 50000}, 'Project2': {'Manager': 'Emma', 'Budget': 60000}, 'Project3': {'Manager': 'Alex', 'Budget': 55000}}

 Create a program to dynamically extend a list of currencies with a new set of currencies provided by the user.

Sample Input:

current_currencies = ["USD", "EUR", "JPY"]
new_currencies = ["GBP", "AUD"]
Expected Output:

Extended Currency List: ['USD', 'EUR', 'JPY', 'GBP', 'AUD']

In [20]:
current_currencies = ["USD", "EUR", "JPY"]
new_currencies = ["GBP", "AUD"]
current_currencies.extend(new_currencies)
print("Extended Currency List :", current_currencies)

Extended Currency List : ['USD', 'EUR', 'JPY', 'GBP', 'AUD']

Reversing a List of Transactions
Description: Reverse the order of elements in a list of financial transactions.

Sample Input:

transactions = [200, -150, 50, -40]

In [23]:
transactions = [200, -150, 50, -40]
transactions.reverse()
print(transactions)

[-40, 50, -150, 200]

Create a dictionary from two lists: one representing stock tickers and the other their respective prices.

Sample Input:

tickers = ["AAPL", "MSFT", "GOOG"]
prices = [125, 200, 150]

In [24]:
tickers = ["AAPL", "MSFT", "GOOG"]
prices = [125, 200, 150]
stock_prices= dict(zip(tickers, prices))
print(stock_prices)

{'AAPL': 125, 'MSFT': 200, 'GOOG': 150}